@font-face {
  font-family: "SpoqaHanSansNeo";
  font-display: fallback;
  src: url("./fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-display: fallback;
  src: url("./fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-display: fallback;
  src: url("./fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-display: fallback;
  src: url("./fonts/SpoqaHanSansNeo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-display: fallback;
  src: url("./fonts/SpoqaHanSansNeo-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
